h2, h3, body {
  font-family: "Open Sans", sans-serif; 
}

body {
  margin-left: 32px;
}

.title {
}

.import-label {
}

.buttons{
  margin-top: 16px;
}

.import-button {
  color: whitesmoke;
  font-size: 14px;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  background-color: #09c;
  padding: 8px 16px 8px 16px;
  font-weight: 600;
  transition: 0.3s;
}

.import-button:hover {
  background-color: #2F3B5C;

}